.button {
  display: inline-block;
  margin-right: map-get($gutters, x-small);
  padding: 0.9rem;
  font-size: map-get($font-sizes, small);
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.button--primary {
  color: map-get($colors, primary);
  background-color: map-get($colors, text-light);
}

.button--secondary {
  width: 20rem;
  color: inherit;
  border-style: solid;
  border-width: 0.1rem;
}
