.header__menu {

    .header__nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 85vw;
        height: 100vh;
        background-color: whitesmoke;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transform-origin: right top;
        transition: all 0.3s ease-in-out;
    
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            height: 100%;
            padding: 0.5rem 1rem;
        }

        &-item {
            margin: 0.5rem 0;
            padding: 1rem;
            font-size: map-get($font-sizes, medium);
            font-weight: 700;
            color: map-get($colors, text-data);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: map-get($colors, secondary);
            }
        }

        &-link {
            text-decoration: none;
            color: inherit;
        }

        &.visible {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        
        }
    }

    &-button {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }

        &.is-active {
            position: absolute;
            top: 0.3rem;
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: map-get($colors, primary);
            }
        }
    }
}