.presentation {
  position: relative;
  background-image: url('https://i.postimg.cc/QtYM2JvW/doctor.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: map-get($colors, text-light);
  z-index: 10;

  &__container {
    position: relative;
    z-index: 30;
  }

  &__logo {
    margin: map-get($gutters, x-large) 0;
  }

  &__title {
    margin-top: map-get($gutters, medium);
    margin-bottom: map-get($gutters, x-large);
    font-size: map-get($font-sizes, xx-large);
    font-weight: 500;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: map-get($gutters, x-large);
    font-size: map-get($font-sizes, x-large);
    font-weight: 300;
    line-height: 1.5;
  }

  &__text {
    margin: 0;
    margin-bottom: map-get($gutters, x-large);
    font-size: map-get($font-sizes, large);
    font-weight: 300;
    line-height: 1.5;
  }

  &__link {
    margin: 0;
    margin-bottom: map-get($gutters, medium);
    padding: map-get($gutters, large);
    background-color: map-get($colors, text-light);
    border-color: map-get($colors, text-light);
    text-align: center;
    font-size: map-get($font-sizes, medium);
    font-weight: 700;
    text-decoration: none;
    color: map-get($colors, secondary);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 9%, 0.8);
    z-index: 20;
  }
}
