.header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    background-color: whitesmoke;
    visibility: hidden;
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: right top;
    transition: all 0.3s;

    &-list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        //background-color: #fff;
        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        //position: sticky;
        //top: 0;
        //z-index: 100;
    
    }
    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);
    }
}
