// Enlace de Google Fonts de las fuentes utilizado en este proyecto
// https://fonts.google.com/share?selection.family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500|Quicksand:wght@300;400;500;600;700

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: map-get($font-sizes, x-large);
}

p {
  font-size: map-get($font-sizes, medium);
  font-weight: 300;
}
