// Color Palette
$colors: (
  primary: hsl(216, 68%, 51%),
  secondary: hsl(206, 62%, 65%),
  tertiary: hsl(215, 7%, 65%),
  text-data: hsl(240, 5%, 34%),
  text-light: hsl(0, 0%, 100%),
);

// Font Sizes
$font-sizes: (
  x-small: 0.8rem,
  small: 1rem,
  medium: 1.4rem,
  large: 1.8rem,
  x-large: 2.4rem,
  xx-large: 3.8rem,
  xxx-large: 4.2rem,
);

// Font Families
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Noto Serif', serif;

// Gutters
$gutters: (
  small: 1rem,
  medium: 1.5rem,
  large: 2rem,
  x-large: 3rem,
  xx-large: 4rem,
);

@import './base/normalize.scss';
@import './base/base.scss';
@import 'library/hamburgers-settings.scss';
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'layout/body.scss';
@import 'layout/header.scss';
@import 'layout/main-content.scss';
@import 'layout/main-content-info.scss';
@import 'module/header-menu.scss';
@import 'module/main-hero.scss';
@import 'module/buttons.scss';
@import 'module/main-content-info.scss';

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: map-get($font-sizes, x-large);
}

p {
  font-size: map-get($font-sizes, medium);
}

.material-icons-outlined {
  font-size: map-get($font-sizes, xx-large);
  color: map-get($colors, primary);
}
